@import "../../app/globals.scss";

.menu {
  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    .title {
      font-size: 15px;
      font-weight: 400;
      color: $soft-color;
    }
    .listitem{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        border-radius: 7px;
        transition: background 0.3s ease-out ;
        &:hover{
            background: $soft-bg;
        }
    }
  }
}
